<% title "Contacts" %>

<div id='container' ng-controller="contactControl" ng-init="init()">
  <div id="contact-nav" class="section">
    <div class="action">
      <button class="btn btn-success new-button" ng-click="newContact()">
        + New Contact
      </button>
    </div>
    <div id="contacts">
      <div class="contact" ng-repeat="contact in contacts | orderBy:['last_name','first_name']"
        ng-click="showContact(contact)">
        {{truncate(contact.full_name, 18)}}
        <i class="arrow fa fa-chevron-right"></i>
      </div>
    </div>
  </div>

  <div id="contact-details" class="section">
    <div id="instructions" ng-hide="viewing">
      <p>
        Create a <a href="" ng-click="newContact()">new contact</a> or select an existing contact from the left to get started.
      </p>
    </div>

    <div id="editor" ng-show="viewing">
      <editor></editor>
    </div>
  </div>
</div>

<%= javascript_include_tag "contacts" %>
