<div id="errors" class="alert alert-danger alert-dismissable" ng-if="errorMessage">
  <button type="button" class="close" aria-hidden="true" ng-click="clearErrors()">&times;</button>
  {{errorMessage}}
</div>
<div id="name">
  <input type="text" ng-show="editing" ng-model="contact.full_name" placeholder="Contact Name">
  <div ng-hide="editing">
    {{contact.full_name}}
    <i class="edit fa fa-pencil" ng-click="showEditor(contact)"></i>
  </div>
</div>

<div class="row">
  <div class="picture col-lg-1"><i class="fa fa-user"></i></div>
  <div class="info col-lg-6">
    <div class="personal row">
      <div class="col-sm-4">
        <label for="sex">Sex</label>
        <span id="sex" ng-hide="editing">{{capitalize(contact.sex)}}</span>
        <select name="sex" ng-show="editing" ng-model="contact.sex" ng-options='option.value as option.name for option in sexes'></select>
      </div>

      <div class="col-sm-4">
        <label for="age">Age</label>
        <editable-field ng-model="contact.age" id="age" placeholder="27" size="2"></editable-field>
      </div>

      <div class="col-sm-4">
        <label for="birthday">Birthday</label>
        <span id="birthday" ng-hide="editing">{{formatDate(contact.birthday)}}</span>
        <input name="birthday" placeholder="mm/dd/yyyy" class="birthdayField" type="text" ng-model="contact.birthday" ng-show="editing">
        <!-- <editable-field ng-model="contact.birthday" id="birthday" class="birthdayField" placeholder="/14/2010"></editable-field> -->
      </div>
    </div>

    <div class="address row">
      <div class="row">
        <label>Address</label>
        <editable-field ng-model="contact.street" id="street"></editable-field>
      </div>

      <div class="row">
        <editable-field ng-model="contact.city" id="city" size="10"></editable-field>
        <editable-field ng-model="contact.state" id="state" size="2"></editable-field>
        <editable-field ng-model="contact.postcode" placeholder="zip" id="postcode" size="5"></editable-field>
      </div>
    </div>

    <div class="contact row">
      <div class="col-sm-6">
        <label for="phone">Phone</label>
        <editable-field ng-model="contact.phone" id="phone" placeholder="777-777-7777"></editable-field>
      </div>
      <div class="col-sm-6">
        <label for="email">Email</label>
        <editable-field ng-model="contact.email" id="email" placeholder="john@example.com"></editable-field>
      </div>
    </div>

    <div class="row">
      <div class="save col-lg-3">
        <button class="btn btn-success" ng-show="editing" ng-click="save(contact)">
          Save Contact
        </button>
      </div>
    </div>
  </div>
</div>